.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
}

/* Tabs */
.tabs button {
  margin: 5px;
  background: #ccc;
  border-radius: 5px;
  border: 1.5px solid #777;
  padding: 5px 30px;
  font-size: 12pt;
}

.tabs button.selected {
  font-weight: bold;
  background: #aaa;
}

.tab-container .tab-content {
  margin: 5px;
  border: 1.5px solid #aaa;
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 13pt;
  padding: 20px;
}

/* Form */

.form-container {
  height: auto;
  margin: 5px;
  border: 1.5px solid #aaa;
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 13pt;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-container .form-content-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-content-tabs button {
  background: #ccc;
  border-radius: 5px;
  border: 1.5px solid #777;
  font-size: 10pt;
  height: 30px;
}

.form-content-tabs button.selected {
  font-weight: bold;
  background: #aaa;
}

.form-container .form-content {
  border-top: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.form-container .form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-label .form-input {
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin-top: 5px;
}
.form-container .form-submit {
  margin-top: 10px;
}
